<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="keywords">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="description">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>JS 图片转Base64</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script>
        function run(input_file, get_data) {
            /*input_file：文件按钮对象*/
            /*get_data: 转换成功后执行的方法*/
            if (typeof (FileReader) === 'undefined') {
                alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
            } else {
                try {
                    /*图片转Base64 核心代码*/
                    var file = input_file.files[0];
                    //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                    if (!/image\/\w+/.test(file.type)) {
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {
                        get_data(this.result);
                    }
                    reader.readAsDataURL(file);
                } catch (e) {
                    alert('图片转Base64出错啦！' + e.toString())
                }
            }
        }

        $(function () {
            $("input").change(function () {
                run(this, function (data) {
                    $('img').attr('src', data);
                    $('textarea').val(data);
                });
            });
        });

        function uploadfile() {
            $("#btnfile").trigger("click");
        }
    </script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99f259e8c1db2b5724781c9ef9612de2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body style="background: #ebeff2;margin: 30px 100px; padding: 50px">
<div class="page-header">
    <h1 style="margin-left: 50px;"><small> -- Convert image to base64 -- <a
            href="../"><span>卓帆网</span></a></small></h1>
</div>
<div aria-busy="padding:20px;" class="layui-card">
    <input class="layui-btn" id="btnfile" style="display: none;" type="file">
    <button class="layui-btn" onclick="uploadfile();" style="margin:20px;">上传图片</button>
    <hr>
    <img style="max-height: 300px; height: 8em; min-width:8em;margin-left:20px;">
    <hr>
    <textarea class="layui-input-block" style="display: block; width: 100%;height: 40em;margin-left: 0px;"></textarea>
</div>
</body>
</html>
