<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="keywords">
    <meta content="在线工具,程序员,工具,开发人员工具,小工具,站长工具,JSON格式化、图片转base64、yaml转json、yaml与property互转,网址导航,程序猿的在线工具"
          name="description">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="../images/favicon.ico" rel="shortcut icon">
    <title>程序员网址导航</title>
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic" rel="stylesheet">
    <link href="css/fonts/linecons/css/linecons.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://chen-xing.gitee.io/home/static/css/bootstrap.css" rel="stylesheet">
    <link href="https://chen-xing.gitee.io/home/static/css/xenon-core.css" rel="stylesheet">
    <link href="https://chen-xing.gitee.io/home/static/css/xenon-components.css" rel="stylesheet">
    <link href="https://chen-xing.gitee.io/home/static/css/xenon-skins.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/css/demo.4a8ab28c.css" rel="prefetch">
    <link href="/js/demo.ad532090.js" rel="prefetch">
    <link as="style" href="/css/app.e13832ac.css" rel="preload">
    <link as="style" href="/css/chunk-vendors.4b7e327a.css" rel="preload">
    <link as="style" href="/css/chunk-vendors.4b7e327a.css" rel="preload">
    <link as="script" href="/js/app.26117a0e.js" rel="preload">
    <link as="script" href="https://chen-xing.gitee.io/home/static/js/chunk-vendors.0bc935fb.js" rel="preload">
    <link href="/css/chunk-vendors.4b7e327a.css" rel="stylesheet">
    <link href="/css/app.e13832ac.css" rel="stylesheet">
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99f259e8c1db2b5724781c9ef9612de2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="page-body boxed-container">
<nav class="navbar horizontal-menu navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-brand" style="width: 300px;height: 100px;">
            <a class="logo" href="/">
                <img alt="" class="hidden-xs" src="/images/logo.png" width="100%">
            </a>
        </div>
        <div class="navbar-mobile-clear"></div>
        <a href="https://www.chenzhuofan.top" target="_blank"><img
                alt="Fork me on GitHub"
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" style="position: absolute; top: 0; right: 0; border: 0;"></a>
    </div>
</nav>
<div class="page-container">
    <div class="main-content" style="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- 关于网站 -->
                    <h4 class="text-gray">关于网站</h4>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote>
                                    <p>
                                        有一段时间我发现我的收藏夹越来越多，很难找到某个不常用的网站。所以就有了这个网站，这里收集的基本都是我自己浏览器收藏夹里的网站，我平时用的相对比较多的一些都在这里。</p>
                                    </br>
                                    <p>如果你也是设计师，如果你也正好喜欢设计，那希望这个网站能给你带来一些作用。</p>
                                    <p>后续会利用爬虫把一些主流的开发网站如github.csdn、博客园、开源中国等一些实时新闻采集过来，集中显示,让你可以花更少的精力更快捷的收货更多的知识</p>
                                    <p>同时也会分享一些前沿的it技术</p>
                                    <p>如果你有好的建议，欢迎你的来信:chenxin.8910@163.com</p>
                                    <p>更多信息敬请关注:<a href="https://www.94rg.com" target="_blank">人工博客</a></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer sticky footer-type-1 fixed">
            <div class="footer-inner">
                <div class="footer-text">
                    &copy; 浙ICP备19008730号
                </div>
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Bottom Scripts -->
<script src="../js/jquery.min.js"></script>
<script>$(document).ready(function () {
    $(document).on('click', '.has-sub',
        function () {
            var _this = $(this);
            if (!$(this).hasClass('expanded')) {
                setTimeout(function () {
                        _this.find('ul').attr("style", "")
                    },
                    300);
            } else {
                $('.has-sub ul').each(function (id, ele) {
                    var _that = $(this);
                    if (_this.find('ul')[0] != ele) {
                        setTimeout(function () {
                                _that.attr("style", "")
                            },
                            300);
                    }
                })
            }
        })
    $('.user-info-menu .hidden-sm').click(function () {
        if ($('.sidebar-menu').hasClass('collapsed')) {
            $('.has-sub.expanded > ul').attr("style", "")
        } else {
            $('.has-sub.expanded > ul').show()
        }
    })
    $("#main-menu li ul li").click(function () {
        $(this).siblings('li').removeClass('active');
        $(this).addClass('active');
    });
    $("a.smooth").on('click', function (ev) {
        ev.preventDefault();
        public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
        ps_destroy();
        $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top - 30
            },
            {
                duration: 500,
                easing: "swing"
            });
    });

    var href = "";
    var pos = 0;
    $("a.smooth").click(function (e) {
        $("#main-menu li").each(function () {
            $(this).removeClass("active");
        });
        $(this).parent("li").addClass("active");
        e.preventDefault();
        href = $(this).attr("href");
        pos = $(href).position().top - 30;
    });

    $('.xe-widget.xe-conversations.box2.label-info').each(function () {
        $(this).click(function () {
            var url = $(this).attr('data-original-title');
            window.open(url, '_blank')
        });
    });

    return false;
});

</script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://chen-xing.gitee.io/home/static/js/TweenMax.min.js"></script>
<script src="js/resizeable.js"></script>
<script src="js/joinable.js"></script>
<script src="js/xenon-api.js"></script>
<script src="js/xenon-toggles.js"></script>
<script src="js/xenon-custom.js"></script>
</body>

</html>
