<!DOCTYPE html>
<html>
<head>
    <title>YAML parser to JSON</title>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="keywords">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="description">
    <!--<link rel="stylesheet" href="bootstrap.css">-->
    <link href="yaml/codemirror.css" rel="stylesheet">
    <link href="yaml/demo.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="yaml/es5-shim.min.js"></script>
    <script src="yaml/demo.js"></script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99f259e8c1db2b5724781c9ef9612de2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="page-header">
    <h1><small> --YAML parser to JSON Online -- <a href="../"><span>卓帆网</span></a></small></h1>
</div>
<!--<div class="header">-->
<!--<h1>YAML parser to JSON</h1>-->
<!--</div>-->
<div class="content">
    <div class="src">
        <h4 class="subheader"> Edit source here:</h4>
        <textarea id="source">---
</textarea>
    </div>
    <div class="dst">
        <h4 class="subheader">Result (JS object dump):</h4>
        <textarea id="result"></textarea>
    </div>
</div>
</body>
</html>
