<!DOCTYPE>
<html>
<head>
    <title>JSON字符串格式化-卓帆工具箱</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="keywords">
    <meta content="导航网，json在线格式化，图床，格式转化，base64在线编码"
          name="description">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <script src="js/tool/c.js?v=2" type="text/javascript"></script>
    <script src="layui/layui.js" type="text/javascript"></script>
    <link href="js/tool/s.css" rel="stylesheet" type="text/css"></link>
    <link href="layui/css/layui.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99f259e8c1db2b5724781c9ef9612de2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body style="background: #ebeff2">
<div class="page-header">
    <h1 style="margin-left: 100px;"><small> -- json format -- <a href="../"><span>卓帆网</span></a></small>
    </h1>
</div>

<div class="blog-body">
    <div class="blog-container">
        <div class="layui-card">
            <div class="layui-card-header">JSON格式化</div>
            <div class="layui-card-body">
                <form action="" class="layui-form" id="qrForm">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">JSON字符串</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" cols="5" id="RawJson" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input class="layui-btn" onclick="Process()" type="Button" value="格式化"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缩进量</label>
                        <div class="layui-input-block">
                            <select id="TabSize" lay-ignore onchange="TabSizeChanged()">
                                <option value="1">1</option>
                                <option selected="selected" value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">引号</label>
                        <div class="layui-input-block">
                            <input checked="checked" id="QuoteKeys" lay-filter="yh" onclick="QuoteKeysClicked()"
                                   title="引号" type="checkbox"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a class="layui-btn" href="javascript:void(0);"
                               onclick="SelectAllClicked()">全选格式化后JSON字符串</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">显示控制</label>
                        <div class="layui-input-block">
                            <input checked id="CollapsibleView" lay-filter="kz" onclick="CollapsibleViewClicked()"
                                   title="显示控制" type="checkbox"/>
                        </div>
                    </div>
                    <div class="layui-form-item" id="CollapsibleViewDetail">
                        <label class="layui-form-label">控制按钮</label>
                        <div class="layui-input-block">
                            <a class="layui-btn" href="javascript:void(0);" onclick="ExpandAllClicked()">展开</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseAllClicked()">叠起</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(3)">2级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(4)">3级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(5)">4级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(6)">5级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(7)">6级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(8)">7级</a>
                            <a class="layui-btn" href="javascript:void(0);" onclick="CollapseLevel(9)">8级</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">格式化后字符串</label>
                        <div class="layui-input-block">
                            <div class="Canvas" id="Canvas"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    Process();
    layui.use('form', function () {
        var form = layui.form;
        form.render(); //更新全部
        form.on('checkbox(yh)', function (data) {
            QuoteKeysClicked(data.elem.checked);
        });
        form.on('checkbox(kz)', function (data) {
            CollapsibleViewClicked(data.elem.checked);
        });
    });
</script>
</body>
</html>

